.signer-btn {
  display: flex;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #666;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  border: 1px solid #666;
}

.signer-icon {
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-right: 10px;
}

.signer-icon:active {
  opacity: 0.8;
}

.signer-icon:hover {
  opacity: 0.8;
}

.jwt-icon {
  background-image: url('../../assets/img/jwt.svg');
}

.metamask-icon {
  background-image: url('../../assets/img/metamask.png');
}

.web3auth-icon {
  background-image: url('../../assets/img/web3auth.svg');
}