.btn-wrapper {
  padding-left: 40px;
  display: flex;
}

.retry-btn {
  background-color: #8864ff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  text-align: center;
}

.retry-btn:active {
  opacity: 0.8;
}

.retry-btn:hover {
  opacity: 0.8;
}